body{
    background-color: #3A6D8C;
    color: #ffffff;
}

.box{
    border: solid;
    background-color: #6A9AB0;
    padding: 10px;
}

.menu{
    color: #ffffff;
    font-size: 20px;
}

.border{
  padding: 20px;
  background-color: #6A9AB0;
  border: solid;
  text-align: center;
  font-size: 25px;
}

.border2{
    padding: 20px;
    background-color: #6A9AB0;
    border: solid 5px;
    font-size: 25px;
  }
  
  .border3{
    padding: 10px;
    background-color: #6A9AB0;
    border: solid 5px;
    font-size: 10px;
  }
.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

h1{
    font-size: 40px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 35px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

h4{
    text-align: center;
}

h5{
    text-align: right;
}

h6{
    font-size: 30px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

.p1{
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

p{
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;  
}

li{
    font-size: 25px;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

.img1{
    border: solid 4px;
    margin-left: auto;
    margin-right: auto;
}
.img2{
    border: solid 3px;
    margin-left: auto;
    margin-right: auto;
}

.link{
    color:white;
}

.left{
    text-align: left;
}

img{
    margin: c;
}
